:root {
  --font-sans-serif: "Montserrat";
}

*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
}

@media (min-width: 1400px) {
  .container {

  }
}
::selection{
    background-color: red;
}




